.svg {
  display: block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.apple_logo {
  font-size:(170/10)*1rem;
  width:(170/170)*1em;
}
.google-play_logo {
  font-size:(505.5/10)*1rem;
  width:(505.5/505.5)*1em;
}
.surface_logo {
  font-size:(264/10)*1rem;
  width:(288/264)*1em;
}
